<h3 class="new-order-title"><strong>Select Items for Five-Pack:</strong></h3>

  <form class='order-form field' action="/orders" method="post">

    <input type="hidden" name="order[three_item]" value=false />

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[leggings]">    Leggings</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[sports_bra]">    Sports Bra</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[sports_jacket]">   Sports Jacket</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[top]">    Top</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[wrap]">    Wrap</input>
    </div>

    <input class="submit-button button is-light" type="submit" value="Create Order" />

  </form>
</div>
