<h3>Order Items: </h3>
<br />
<p></p>
<div>
  <ul>
    <% order.attributes.each do |attr_key,attr_val| %>
      <% if attr_val == true && attr_key != "three_item" %>
        <li> <%= attr_key %> </li>
      <% end %>
    <% end %>
  <ul>
</div>
