<a href="/orders/new">Go Back</a>
<% if invalid_emails.length > 0 %>
  <h3>Invalid User Information:</h3>
    <% invalid_emails.split("\n").each do |person| %>
      <p>
        <%= person %>
      </p>
    <% end %>
  <p></p>
<% end %>
<p></p>
<h3>Selected Items:</h3>
  <% items.each do |item| %>
    <p>
      <%= item %>
    </p>
  <% end %>
