<h2>Select Items for Monthly Order:</h2>
<form id='order-form' action="/orders" method="post">
  <input type = "checkbox" name = "order[leggings]">Leggings</input>
  <input type = "checkbox" name = "order[sports-bra]">Sports Bra</input>
  <input type = "checkbox" name = "order[sports-jacket]">Sports Jacket</input>
  <input type = "checkbox" name = "order[tops]">Top</input>
  <input type = "checkbox" name = "order[wrap]">Wrap</input>
  <input type = "submit" value= "Submit Items" />
</form>
