<div class = "new-order-form">
  <h3 class="new-order-title"><strong>Select Items for Monthly Order:</strong></h3>
  <p></p>

  <form class='order-form field' action="/influencers/ <% @influencer.id %>/orders" method="post">

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[leggings]">    Leggings</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[sports-bra]">    Sports Bra</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[sports-jacket]">   Sports Jacket</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[top]">    Top</input>
    </div>

    <div class = "field">
      <input class = "checkbox" type = "checkbox" name = "order[wrap]">    Wrap</input>
    </div>

    <input class="submit-button button is-light" type="submit" value="Create Order" />

  </form>
</div>
