<h2>Select Items for Monthly Order:</h2>
<form action="/orders" method="post">
  <input type = "checkbox" name = "upload[leggings]">Leggings</input>
  <input type = "checkbox" name = "upload[sports-bra]">Sports Bra</input>
  <input type = "checkbox" name = "upload[sports-jacket]">Sports Jacket</input>
  <input type = "checkbox" name = "upload[tops]">Top</input>
  <input type = "checkbox" name = "upload[wrap]">Wrap</input>
  <input type = "submit" value= "Submit Items" />
</form>
