<% if invalid_emails.length > 0 %>
  <h3>Invalid User Information:</h3>
    <% invalid_emails.split("\n").each do |person| %>
      <p>
        <%= person %>
      </p>
    <% end %>
  <p></p>
<% end %>
<hr>

<h2>Influencers:</h2>
  <% @influencers.each do |influencer| %>
    <p>
      <a href="/influencers/<%= influencer.id %>/orders/new"><%= influencer.first_name %></a>
    </p>
  <% end %>
