<% if invalid_emails.length > 0 %>
  <h3>Invalid User Information:</h3>
    <% invalid_emails.split("\n").each do |person| %>
      <p>
        <%= person %>
      </p>
    <% end %>
  <p></p>
  <hr>
<% end %>

<h2>Influencers:</h2>
<p>
  Count: <%= Influencer.count %>
</p>

<p>
  <strong>Three-Item:</strong>
</p>
<p>
  <form method="get" action="/orders/new/3-item">
    <input type="button" value="Select Items for Order">
  </form>
</p>

<% @influencers.each do |influencer| %>
  <% if influencer.three_item == true %>
    <p>
      <%= influencer.first_name + " " + influencer.last_name %>
    </p>
  <% end %>
<% end %>

<hr>

<p>
  <strong>Five-Item:</strong>
</p>
<p>
  <form method="get" action="/orders/new/5-item">
    <input type="button" value="Select Items for Order">
  </form>
</p>

<% @influencers.each do |influencer| %>
  <% if influencer.three_item == false %>
    <p>
      <%= influencer.first_name + " " + influencer.last_name %>
    </p>
  <% end %>
<% end %>
