<h3><strong>Upload Influencers CSV</strong></h3>
<p></p>
<form action="/files" enctype="multipart/form-data" method="post">
  <div class = "field">
    <input name="file" type="file"/>
  </div>
  <br />
  <input class="submit-button button is-light" type="submit" value="Upload Influencers CSV" />
</form>
