<h3>Influencers:</h3>
<p>
  Count: <%= Influencer.count %>
</p>

<div class="three-item-influencers">
  <p>
    <strong>Three-Item:</strong>
  </p>
  <p>
    <a href="/monthly_orders/new/3-item">Select Items for Order</a>
  </p>

  <% @influencers.each do |influencer| %>
    <% if influencer.three_item == true %>
      <p>
        <%= influencer.first_name + " " + influencer.last_name %>
      </p>
    <% end %>
  <% end %>
</div>

<hr>
<div class="five-item-influencers">
  <p>
    <strong>Five-Item:</strong>
  </p>
  <p>
    <a href="/monthly_orders/new/5-item">Select Items for Order</a>
  </p>

  <% @influencers.each do |influencer| %>
    <% if influencer.three_item == false %>
      <p>
        <%= influencer.first_name + " " + influencer.last_name %>
      </p>
    <% end %>
  <% end %>
</div>
