<h2>Upload CSV File of Influencers:</h2>

<form id='upload-form' action="/uploads" enctype="multipart/form-data" method="post">
  <input name="file" type="file" />
  <input class="submit-button" type="submit" value="Upload spreadsheet" />
</form>
