<h3><strong>Upload Influencers CSV</strong></h3>
<br />

<% if @errors %>
  <%= errors %>
  <p>
    <% @invalids.split("\n").each do |record| %>
      <p>
        <%= record %>
      </p>
    <% end %>
  </p>
  <hr>
<% end %>

<form id="upload-form" action="/uploads" enctype="multipart/form-data" method="post">
  <div class = "field">
    <input name="file" type="file"/>
  </div>
  <br />
  <input class="submit-button button is-light" type="submit" value="Upload Influencers CSV" />
</form>
